* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f7f2;
    color: #333333;
}

header {
    background-color: #0d8711 ;
    color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;  
    background-image: url('images/gharly.png');
    background-size: cover;
    background-position: center;
}

.search-bar {
    flex-grow: 1; 
    background-color: grey;
    border-radius: 4px;  
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.search-bar ::placeholder {
    color: #777;
}

.search-bar input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50;

}
 
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFD166;
}

.address span {
    font-size: 14px;
    color: #FFD166;
}

.address p {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.login-button {
    background-color: #FFD166;
    color: #1F1F1F;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.login-button:hover {
    filter: brightness(90%);
}

.cart button {
    background-color: #FFD166;
    color: #1F1F1F;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.cart button:hover {
    filter: brightness(90%);
}

.hero {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 40px;
    background-image: url('image/gharly.png');
    background-size: cover;
    background-position: center;
    min-height: 350px;
}

.hero-image {
    width: 50%;
}

.hero-image img{
    width: 100%;   
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.hero-content {
    width: 50%;
    padding:20
}

.hero-content h1{
    font-size: 48px;
    font-weight: bold;
    color: #1F1F1F;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 18px;
    color: #555;
    margin-bottom: 25px;
}

.shop-button, .learn-more-button {
    background-color: #0d8711 ;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    margin-right: 10px; 
}

.learn-more-button {
    background-color: white;
    color: #0d8711;
    border: 2px solid #0d8711;
}

.shop-button:hover, .learn-more-button:hover {
    filter: brightness(90%);
}
